header {
    border-style: solid;
    border-color: red;
    height: 60px;
}
aside {
    border-style: solid;
    border-color: green;
    width: 20%;
    height: 680px;
    float: left;
    margin: 8px 0px 0px 0px;
}
div{
    width: 100%;
    height: 696px;
}
div #content{
    float: right;
    width: 78%;
}
nav {
    border-style: solid;
    border-color: grey;
    height: 80px;
    margin: 8px 0px 0px 0px;
}
article{
    border-style: solid;
    border-color: yellow;
    height: 591px;
    margin: 8px 0px 0px 0px;
}
footer {
    height: 60px;
    border-style: solid;
    border-color: blue;
}
